<div class="container">
  <div class="row">
    <div class="col-12">
      <div (change)="price()">
        <div class="form-group">
          <div class="btn btn-success btn-block">Продукт</div>
          <select name="product" id="product" #product (change)="fan(product.value)" class="form-control">
            <option value="default" selected>Виберіть Значення</option>
            <option value="zebra">Зебра М19 МП</option>
            <option value="kolibri">Колібрі М19</option>
          </select>
        </div>
        <div class="form-group">
          <div class="btn btn-success btn-block"> Модуль</div>
          <select name="mod" id="mod" #type (change)="fan1(type.value)" class="form-control">
            <option value="default" selected>Виберіть Значення</option>
            <option value="O">O</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
          </select>
        </div>
        <div class="form-group">
          <div class="btn btn-success btn-block">Ширина</div>
          <select name="width" id="width" #width (change)="fan2(width.value)" class="form-control">
            <option value="default" selected>Виберіть Значення</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="60">60</option>
            <option value="70">70</option>
            <option value="80">80</option>
            <option value="90">90</option>
            <option value="100">100</option>
            <option value="110">110</option>
            <option value="120">120</option>
            <option value="130">130</option>
            <option value="140">140</option>
          </select>
        </div>
        <div class="form-group">
          <div class="btn btn-success btn-block">Висота</div>
          <select name="heigth" id="heigth" #heigth (change)="fan3(heigth.value)" class="form-control">
            <option value="default" selected>Виберіть Значення</option>
            <option value="60">60</option>
            <option value="80">80</option>
            <option value="100">100</option>
            <option value="120">120</option>
            <option value="140">140</option>
            <option value="160">160</option>
            <option value="180">180</option>
            <option value="200">200</option>
            <option value="220">220</option>
            <option value="240">240</option>
          </select>
        </div>
      </div>
      <div id="price"></div>
      <!-- <div class="calculet">
          <div class="form-group">
            <label for="currency">Розрахунок Валюти</label>
            <input type="number" name="currency" id="currency" placeholder="Введіть курс Валюти" class="form-control" #currency>
          </div>
          <div>
            {{valuta}}
          </div>
          <button (click)="Calc(currency.value)">Розразувати</button>
      </div> -->
    </div>
  </div>
</div>