.btn {
    margin: 10px 0px;
}

#product {
    text-align: center;
}

#price {
    display: none;
    text-align: center;
    border: 2px double green;
    font-size: 2em;
}

#cals {
    display: none;
    text-align: center;
    border: 2px double green;
    font-size: 2em;
}

label {
    margin-bottom: 0px;
    font-size: 20px;
}

.main {
    margin-top: 15px;
}

.checkbox {
    margin-top: 10px;
    padding: 0px;
    margin-left: 15px;
}

select {
    font-weight: bold;
    font-size: 0.9rem;
}

.alignEnd {
    text-align: center;
}

input[type=checkbox] {
    zoom: 2;
}